// HEADER
.port-navbar.port-default {
  width: 100%;
  z-index: 15;
  padding: 40px;

  .port-navbar {
    &-brand {
      color: white;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: white;
      letter-spacing: 0.8px;
      text-transform: uppercase;

      &.active {
        color: #dba919;
      }

      &:hover,
      &:focus {
        color: #dba919;
      }
    }
  }
}

// HEADER
.port-navbar.port-default {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  z-index: 15;
  padding: 20px 40px;

  .port-navbar {
    &-brand {
      color: white;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: white;
      
      letter-spacing: 0.8px;
      text-transform: uppercase;

      &.active {
        color: #dba919;
      }

      &:hover,
      &:focus {
        color: #dba919;
      }
    }
  }
}
.layout-container {
  background-color: #285476;
}
.navbar-expand-md {
  @media (min-width: 768px) {
    justify-content: space-around;
    position: relative;
  }
}

a.nav-link.port-navbar-link.port-dropdown-item {
  color: black !important;
}
